<!-- Modern Author Card for Homepage -->
<div class="author-card">
  <div class="author-avatar">
    <img src="https://github.com/riturajratan.png" alt="Rituraj Ratan" class="avatar-img">
    <div class="author-status">
      <span class="status-indicator"></span>
      <span class="status-text">Available for projects</span>
    </div>
  </div>
  
  <div class="author-info">
    <h3 class="author-name">Rituraj Ratan</h3>
    <p class="author-title">Full Stack Developer</p>
    <p class="author-company">Developer <a href="http://www.nagarro.com/" target="_blank">@Nagarro</a></p>
    <p class="author-bio">
      Founder of Maddyzone with 11+ years of experience in JavaScript, Angular, React, and Node.js. 
      Passionate about sharing practical development insights and building quality software.
    </p>
  </div>
  
  <div class="author-stats">
    <div class="stat-item">
      <span class="stat-number">{{ site.posts.size }}</span>
      <span class="stat-label">Articles Written</span>
    </div>
    <div class="stat-item">
      <span class="stat-number">11+</span>
      <span class="stat-label">Years Experience</span>
    </div>
  </div>
  
  <div class="author-social">
    <a href="http://www.riturajratan.com/" target="_blank" class="social-link website" title="Website">
      <span class="social-icon">🌐</span>
      <span class="social-text">Website</span>
    </a>
    <a href="https://twitter.com/maddyzonenews" target="_blank" class="social-link twitter" title="Twitter">
      <span class="social-icon">🐦</span>
      <span class="social-text">Twitter</span>
    </a>
    <a href="https://github.com/riturajratan" target="_blank" class="social-link github" title="GitHub">
      <span class="social-icon">🐙</span>
      <span class="social-text">GitHub</span>
    </a>
    <a href="mailto:rituraj.ratan@gmail.com" target="_blank" class="social-link email" title="Email">
      <span class="social-icon">✉️</span>
      <span class="social-text">Email</span>
    </a>
  </div>
</div>