<footer class="footer">
  <div class="wrapper">
    <div class="footer__copyright">
      &copy; {{ site.time | date: '%Y' }} - Maddyzone
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="//twitter.com/maddyzonenews" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/twitter.svg" alt="Maddyzone on Twitter">
          </a>
        </li>
        <li>
          <a href="//github.com/maddyzone" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/github.svg" alt="Maddyzone on GitHub">
          </a>
        </li>
        <li>
          <a href="//facebook.com/maddyzonenews" target="_blank">
            <img src="{{ site.baseurl }}/img/icons/fb.svg" alt="Maddyzone on Facebook">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
