<header class="header">
  <div class="wrapper">
    <div class="header__img">
      <a href="/">
        <img src="{{ site.baseurl }}/img/rrr.jpg" alt="Maddyzone">
      </a>
    </div>
    <div class="header__bio">
      <p>
        I'm <a href="http://www.riturajratan.com/">Rituraj</a>, a Developer <a href="http://www.nagarro.com/">@Nagarro</a>.
        founder of <a href="http://tech-blog.maddyzone.com">Maddyzone</a>. JavaScript, Angular, Node.
      </p>
      <a href="https://twitter.com/maddyzonenews" class="twitter-follow-button" data-show-count="true"></a>
      <script>
        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
</header>
<nav class="nav">
  <ul>
       <li>
      <a href="/">Posts</a>
    </li>
    <li>
      <a href="/categories/angularjs/" > Angular JS </a>
    </li>
    <li>
      <a href="/categories/javascript/" > JavaScript </a>
    </li>
    <li>
      <a href="http://www.riturajratan.com" target="_blank"> About Author </a>
    </li>
    <!--<li>
      <ahref="/speaking">
        Speaking
      </a>
    </li>
    <li>
      <a href="//ultimateangular.com">
        <img src="{{ site.baseurl }}/img/icons/angular.svg" alt="" style="width: 20px;">
        Training
      </a>
    </li>-->
  </ul>
</nav>
