<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <a class="skip-link screen-reader-text" href="#main-content">Skip to main content</a>
    {% include header.html %}
    <main id="main-content" class="content" role="main">
      <div class="container">
        {% if page.url != '/angular-1-x' and page.url != '/angular-2' and page.url != '/javascript'  %}
        <!--{% include courses.html position="top" %}-->
        {% endif %}
        <article class="main-content">
          {{ content }}
        </article>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
